/* @author koike */
@charset "UTF-8";

/* コメント
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}
/* 長崎タイトル
---------------------------------------------------------------------------------------------------------------------*/
#nagasaki-title {
	color: red;


	}

/* 長崎本社の住所
---------------------------------------------------------------------------------------------------------------------*/
#nagasaki-address{
	color: blue;
}

/* 長崎の電話番号
---------------------------------------------------------------------------------------------------------------------*/
#nagasaki-telephone-number{
	color: blue;
}

/* 長崎のFAX
---------------------------------------------------------------------------------------------------------------------*/
#nagasaki-fax-number{
	color: blue;
}

/* 東京タイトル
---------------------------------------------------------------------------------------------------------------------*/
#tokyo-title{
	color: red;
}

/* 東京事業所の住所
---------------------------------------------------------------------------------------------------------------------*/
#tokyo-address{
	color: blue;
}

/* 東京事業所の電話番号
---------------------------------------------------------------------------------------------------------------------*/
#tokyo-telephone-number{
	color: blue
}

/* 東京事業所のFAX番号
---------------------------------------------------------------------------------------------------------------------*/
#tokyo-fax-number{
color: blue
}