/* @author koike */
@charset "UTF-8";

/* コメント
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}

/* 長崎の住所
---------------------------------------------------------------------------------------------------------------------*/
.nagasaki-access{
	color: blue;
}

/* 長崎のh2タグ*/
.nagasaki-access h2{
	color: blue;
}

/* 長崎のpタグ*/
.nagasaki-access p{
	color: red;
}

/* 東京の住所
---------------------------------------------------------------------------------------------------------------------*/
.tokyo-access{
color: blue;
}

/* 東京のh2タグ*/
.tokyo-access h2{
	color: blue;
}

/* 東京のpタグ*/
.tokyo-access p{
	color: red;
}

