/* @author koike */
@charset "UTF-8";

/* コメント
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}

/* IT 通信 インターネットのタイトル
---------------------------------------------------------------------------------------------------------------------*/
#it-title{
	color: blue;

}

/* ITテーブルのカラム1
---------------------------------------------------------------------------------------------------------------------*/
#a{
	background-color: bisque;
}

/* ITテーブルのカラム2
---------------------------------------------------------------------------------------------------------------------*/
#it-column2{
	background-color: bisque;
}

/* ITテーブルのカラム3
---------------------------------------------------------------------------------------------------------------------*/
#it-column3{
	background-color: bisque;
}

/* ITテーブルのカラム4
---------------------------------------------------------------------------------------------------------------------*/
#it-column4{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングタイトル
---------------------------------------------------------------------------------------------------------------------*/
#table-energy{
		background-color: black;

}

/* エネルギー・プラントエンジニアリングのカラム1
---------------------------------------------------------------------------------------------------------------------*/
#energy-column1{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム2
---------------------------------------------------------------------------------------------------------------------*/
#energy-column2{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム3
---------------------------------------------------------------------------------------------------------------------*/
#energy-column3{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム4
---------------------------------------------------------------------------------------------------------------------*/
#energy-column4{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム5
---------------------------------------------------------------------------------------------------------------------*/
#energy-column5{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム6
---------------------------------------------------------------------------------------------------------------------*/
#energy-column6{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム7
---------------------------------------------------------------------------------------------------------------------*/
#energy-column7{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム8
---------------------------------------------------------------------------------------------------------------------*/
#energy-column8{
	background-color: bisque;
}

/* エネルギー・プラントエンジニアリングのカラム9
---------------------------------------------------------------------------------------------------------------------*/
#energy-column9{
	background-color: bisque;
}

	/* エネルギー・プラントエンジニアリングのカラム10
---------------------------------------------------------------------------------------------------------------------*/
#energy-column10{
	background-color: bisque;
}