/* @author Tanigawa */
@charset "UTF-8";

/* 全ページのベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

/* floatの解除 */
.clear {
	clear: left;
}

/* テキスト選択時の文字色・背景色 */
::selection, ::-moz-selection {
	background: palegreen;
}

body {
	/* フォントの種類 */
	font-family: -apple-system, BlinkMacSystemFont,
		"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	/* フォントのサイズ */
	font-size: 16px;
	/* フォントの色 */
	color: #333;
	/* 文字間隔の調整の設定 */
	letter-spacing: 1.5px;
	/* 行間の設定 */
	line-height: 1.75;
}