/* @author koike */
@charset "UTF-8";

/* コメント
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
}

/* 事業内容
---------------------------------------------------------------------------------------------------------------------*/
.bussiness-info{
	color: blue;
}

/* 事業内容のh2タグ*/
.bussiness-info h2{
	color: blue;
}

/* 事業内容のpタグ*/
.bussiness-info p{
	color: red;
}