/* @author koike */
@charset "UTF-8";

コメント
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: blue;
}

/*お問い合わせ
---------------------------------------------------------------------------------------------------------------------*/
.contact{

}

/*お問い合わせのh2タグ*/
.contact h2{
color: red;
}

/*お問い合わせのpタグ */
.contact p {
color: blue;
}


