/* @author koike */
@charset "UTF-8";

/* ƒRƒƒ“ƒg
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}
