/* @author Tanigawa */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
#footer {
	color: white;
	background-color: #aaaaaa;
}

/* 画像
---------------------------------------------------------------------------------------------------------------------*/
#towtop_logo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
}

#towtop_logo img {
	width: 180px;
	height: 100px;
}

/* インフォメーション
---------------------------------------------------------------------------------------------------------------------*/
#footer_info {
	border: 1px solid black;
}

#footer_info ul {
	list-style: none;
}