/* @author Tanigawa */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
#footer {
	color: white;
	background-color: #aaaaaa;
}

/* 画像
---------------------------------------------------------------------------------------------------------------------*/
#towtop_logo {
	border: 1px solid black;
}

img {
	width: 180px;
	height: 100px;
}

/* インフォメーション
---------------------------------------------------------------------------------------------------------------------*/
#footer_info {
	border: 1px solid black;
}

#footer_info ul {
	list-style: none;
}