/* @author Tanigawa */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
#footer {
	color: white;
	background-color: #aaaaaa;
}

/* 画像
---------------------------------------------------------------------------------------------------------------------*/
#towtop_logo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: silver;
}

#towtop_logo img {
	background-color: steelblue;
	width: 300px;
	height: 60px;
}

/* インフォメーション
---------------------------------------------------------------------------------------------------------------------*/
#footer_info {
	background-color: slategray;
}

#footer_info ul {
	list-style: none;
}