/* @author Tanigawa */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
#top-wrapper {
	background-color: aliceblue;
	height: 700px;
}

#top-image {
	height: 700px;
}