/* @author Tanigawa */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
.container-fluid {
	background-color: aliceblue;
 	height: 800px;
}

#main {
	background: url(../img/sample_image.svg);
	background-size:cover;
 	height: 800px;
}