/* @author Akiyama */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}

/* ライン
---------------------------------------------------------------------------------------------------------------------*/
h2 {
	border-bottom:dotted 1px black;
}


/* 社長の名前の位置
---------------------------------------------------------------------------------------------------------------------*/

#name {
	text-align:right;
}


/* 社長の名前の位置の微調整
---------------------------------------------------------------------------------------------------------------------*/
#message {
	margin-right:30px;
}