/* @author Akiyama */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}

#message-container{
	padding-top:30px;
	padding-bottom:30px;

}

/* 社長の名前の位置
---------------------------------------------------------------------------------------------------------------------*/
#message {
	padding:0 30px;
	padding-top:30px;
	}

/*社長の名前の位置を微調整*/
#name {
	margin-bottom:40px;
	text-align:right;
}

/* 社長の名前の位置の微調整 */
#message {
	margin-right:30px;
}