/* @author Akiyama */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}

#profile-column1{
	background-color:lemonchiffon;
}
