/* @author Ueki */
@charset "UTF-8";
/* 見出し */
h1 {
	background-color: #888888;
}

/* */
div {
	display: block;
	clear: both;
	margin: 0px;
}
/* サイドバー*/
#rercuit {
	color: #FFFFFF;
	background-color: #87cefa;
	float: left;
	text-align: left;
	padding: 0px;
}
/* メニュー */
rercuit.menu {
	background-repeat: no-repeat;
	color: blue;
}
/* 見出し2 */
h2 {
	background-color: #7fffd4;
	color: #f0f8ff;
}