/* @author Ueki */
@charset "UTF-8";

/* ���o��
-------------------------------------------------------------------------------------------------------------------- */
h1 {
	background-color: #888888;
	color: #FFFFFF;
}
/*
-------------------------------------------------------------------------------------------------------------------- */
div {
	display: block;
	clear: both;
	margin: 0px;
}
/* �T�C�h�o�[
-------------------------------------------------------------------------------------------------------------------- */
#rercuit {
	color: #FFFFFF;
	background-color: #87cefa;
	float: left;
	text-align: left;
	padding: 0px;
}
/* ���j���[
---------------------------------------------------------------------------------------------------------------------*/
rercuit
.menu {
	background-repeat: no-repeat;
	color: blue;
}
/* ���o��2
-------------------------------------------------------------------------------------------------------------------- */
h2 {
	background-color: #7fffd4;
	color: #FFFFFF;
}
/*
---------------------------------------------------------------------------------------------------------------------*/
h4 {
	background-color: #87cefa;
	color: #FFFFFF;
}
/*
---------------------------------------------------------------------------------------------------------------------*/
p {
	margin: 3.0;
}