/* @author Akiyama */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
#sitemap-main {
	height: 750px;
}

dl {
	border-bottom: 1px solid #c2c3cc;
}

dd div {
	padding-bottom:20px;
}