/* @author Akiyama */
@charset "UTF-8";

/* ベースとなるスタイル
---------------------------------------------------------------------------------------------------------------------*/
h1 {
	color: white;
	background-color: green;
}
/* ライン
---------------------------------------------------------------------------------------------------------------------*/
h2{
	background-color:pink;
}

/* h2の余白調整
---------------------------------------------------------------------------------------------------------------------*/
.h2{
	margin-bottom:10px;
}

/*レコードごとのCSS
---------------------------------------------------------------------------------------------------------------------*/

#sitemap-column1{
	background-color:lemonchiffon;
}

#sitemap-column2{
	background-color:lemonchiffon;
}

#sitemap-column3{
	background-color:lemonchiffon;
}

#sitemap-column4{
	background-color:lemonchiffon;
}

#sitemap-column5{
	background-color:lemonchiffon;
}

#sitemap-column6{
	background-color:lemonchiffon;
}

#sitemap-column7{
	background-color:lemonchiffon;
}

